/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-toggler {
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links.active {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
  
    .navbar-links {
      display: none;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }
   */